@page
@using ZipZap.Classes
@model ZipZap.Front.Pages.Admin.Settings.IndexModel
@{
    ViewData["Title"] = "ZipZap setings";
}

<h1>Settings</h1>
@if (Model.Result is not null)
{

    <h2>Ssh keys</h2>
    <h3>This server's key</h3>
    <p class="rounded border border-1 bg-white font-monospace overflow-x-scroll text-nowrap user-select-all mb-2 p-2">
        @Model.Result.ThisServerKey.Value
    </p>
    <h3>Allowed Ssh keys</h3>
    <p class="container border border-warning bg-warning-subtle p-2 rounded">
        This is a list of ssh keys, that allow you to
        log in into ANY account whatsoever. If you screw this up &mdash; you're done for
    </p>
    @if(Model.Error is not null){
        <div class="border-danger bg-danger-subtle border border-1 rounded text text-bg-danger-subtle p-2 mb-2">@Model.Error</div>
    }
    <details class="bg-white border border-1 rounded p-2 keyform">
        <summary class="lead">
            Add a new key
        </summary>
        <hr>
        <form method="post"
              onsubmit="return confirm('Are you sure you want to add this key?')"
              asp-page-handler="AddKey">
            <div class="mb-2">
                <label asp-for="Key" class="form-label"></label>
                <textarea class="form-control font-monospace user-select-all" rows="8" style="resize: none" asp-for="Key"></textarea>
            </div>
            <div class="mb-2">
                <label asp-for="ServerName" class="form-label"></label>
                <input class="form-control font-monospace text-nowrap user-select-all" asp-for="ServerName">
            </div>
            <button type="submit" class="btn btn-primary-mine">Submit</button>
        </form>
    </details>
    <hr>
    <ul class="list-group">
        @foreach (var key in Model.Result.TrustedAuthorityKeys)
        {
            <li class="list-group-item">
                <details class="key" name="key">
                    <summary class="lead">
                        @key.ServerName
                    </summary>
                    <hr>
                <span class="rounded list-group-item font-monospace overflow-x-scroll text-nowrap user-select-all mb-2">
                    @key.Key.Value
                </span>
                <div class="d-flex flex-row justify-content-between mb-2">
                    <span class="text">
                        Added by:
                    @if(@key.Admin is {} admin){
                        <a asp-page="/Admin/Users/User" asp-route-id="@admin.Id.Value" class="text" title="@admin.Id">
                            @admin.Username
                        </a>
                    } else {
                        <span>deleted user</span>
                    }
                    </span>

                    @{var datetime = key.TimeAdded.ToLocalTime();}
                    <span class="text" title="@datetime">
                        @datetime.Day.@datetime.Month.@datetime.Year
                    </span>
                </div>
                <form method="post"
                      onsubmit="return confirm('Are you sure you want to delete this key?')"
                      asp-page-handler="Delete"
                      asp-route-id="@key.Id.Id">
                    <button type="submit" class="btn btn-danger">Remove</button>
                </form>
                </details>
            </li>
        }

    </ul>
}
