@page "/Admin/Users/{id:guid}"
@using ZipZap.Classes
@model ZipZap.Front.Pages.Admin.Users.UserModel
@{
    ViewData["Title"] = "User Data";
}
@if (Model.HandlerResult is var data and not null)
{
    <h1>@data.User.Username</h1>
    <details class="border border-1 rounded p-2 bg-white col-5 height-8">
        <summary class=" text text-bold lead " style="display:block">
            See Details
        </summary>
        <hr>
        <span class="text-secondary ">Id: @data.User.Id</span>
        <br />
        <span class="text-secondary">Email: @data.User.Email</span>
        <br />
        <span class="text-secondary">Uid: @data.User.DefaultOwnership.FsoOwner</span>
        <br />
        <span class="text-secondary">Gid: @data.User.DefaultOwnership.FsoGroup</span>
    </details>
    <a class="btn btn-primary-mine mb-2 mt-2" asp-page="/Files/View" asp-route-path="@data.User.Root.Id" asp-route-type="id">Go to user's root</a>
    <hr>
    @if (data.SshKeys is not [])
    {
        <h2>Ssh keys</h2>
        <ul class="list-group">
            @foreach (var key in data.SshKeys)
            {
                <li class="list-group-item font-monospace overflow-x-scroll text-nowrap user-select-all">
                    @key.Key.Value
                </li>
            }
        </ul>
    }
    <hr>
    <details class="border border-1 border-secondary rounded p-2 col-2">
        <summary class="text text-danger text-bold lead" style="display:block">
            Danger zone
        </summary>
        <hr>
        @if(@data.User.Role != UserRole.Admin){
            <button class="btn btn-secondary mb-2">
                Make an admin
            </button>
        } else {
            <button class="btn btn-secondary mb-2">
                Remove admin status
            </button>
        }
        <form method="post" asp-page-handler="Delete">
        <button class="btn btn-danger" type="submit">
            Delete this user
        </button>
        </form>
    </details>
}
